@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu:ital@0;1&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 194, 223);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

div{

    position: absolute;
    bottom:20px;
    background: rgba(0,0,0,0.1);
    padding:10px 20px;
    font-size: 18px;
}

input{
    width:50px;
    padding: 5px;
    font-size: 18px;
    background-color:rgb(209, 194, 223);
    border:none;
    text-align: center;
}

input:focus{
    outline: none;
}